.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(0, 123, 255);
  color: #fff;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

.App-logo{
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  width: 50px;
}